
/* SCROLLBAR */

::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-thumb {
  background-color: #032539;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #198199;
}

/* UNIVERSAL */

* {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body{
	background-image: linear-gradient(45deg, #032539, #198199);
	color: #fff;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}


header{
	position: fixed;
	top: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo{
	position: relative;
	color: #198199;
	font-size: 30px; 
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800; 
	letter-spacing: 1px;
}

.citedhlogo{
	height: 50px;
}


.navigation a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 15px 15px;
	border-radius: 20px;
}

.navigation a:not(:last-child){
	margin-right: 50px;
}

.navigation a:hover{ 
	color: rgba(250, 153, 28, 0.9);
}

#activetab{
	color: #032539;
	background-color: rgba(255, 255, 255, 0.5);
}

label{
	display:none;
}

#check{
	z-index:3;
	display: none;
}

.heading{
	text-align: center;
	font-size: 4vw;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 30px;
}

.heading span{
	text-transform: uppercase;
	color: #FA991C;
}



/* HOME PAGE */

.imgbanner {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  right: 70px;
  width: 35%;
}

.home-content{
	max-width: 650px;
	margin: 60px 100px;
}

.banner-info h2{
	color: #fa991c;
	font-size: 55px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 60px;
	margin-bottom: 30px;
	transition: 0.3s;
	transition-property: transform;
}

.banner-info h2:hover {
	transform: scale(1.1);
}

.banner-info h2 span{
	color: #fff;
	font-size: 50px;
	font-weight: 600;
}

.banner-info p{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 40px;
	letter-spacing: 1px;
	line-height: 1.5;
}

.banner-info-btn{
	color: rgba(255, 255, 255, 0.8);
	background: #198199;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 15px 30px;
	border-radius: 5px;
}

.banner-info-btn:hover{
	background: rgba(255, 255, 255, 0.8);
	color: #198199;	
}

.media-icons{ 
	display: flex;
	justify-content: flex-start; 
	align-items: center;
	margin-left: 100px;
	margin-top: 80px;
}

.media-icons a{
	position: relative;
	color: #111;
	font-size: 25px;
	transition: 0.3s;
	transition-property: transform;
}

.media-icons a:not(:last-child){
	margin-right: 60px;	
}

.media-icons a:hover{
	transform: scale(1.5);
}

.imgbanner2{
	display:none;
}




/* ABOUT US PAGE*/

.aboutus-content {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 20px;
}

.aboutus-carousel img {
  width: 100%;
  height: auto;
  max-width: 500px;
}

.aboutus-info {
  flex: 1;
  padding: 10px 50px;
}

.aboutus-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.aboutus-info p {
  font-size: 16px;
  line-height: 1.5;
}

.carousel {
  max-width: 500px; 
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.carousel-inner {
  display: flex;
  transition: transform 5s ease;
}

.carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
}

@keyframes slide {
  0% { transform: translateX(0); } 
  33.33% { transform: translateX(0); }
  33.34% { transform: translateX(-100%); }
  66.67% { transform: translateX(-100%); } 
  66.68% { transform: translateX(-200%); } 
  100% { transform: translateX(-200%); }
}

.carousel-inner {
  animation: slide 8s infinite;
}



/* GALLERY PAGE*/

		
.gallery-content{
	padding: 10px 10%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.gallery-pic {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}
.gallery-pic img{
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
	object-fit: cover;
}
.overlay {
	width: 100%;
	height: 0;
	background: linear-gradient(transparent,#fa991c 98%);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}

.overlay p{
	margin-top: 80%;
	font-weight: 600;
	color: #032539;
	font-size: 12px;
}

.gallery-pic:hover img{
	transform: scale(1.1);
}

.gallery-pic:hover .overlay{
	height: 100%;
}



/* CONTACT US */

.contactus-content {
  display: flex;
  flex-wrap: wrap;
}

.contactus-column {
  flex: 1;
  padding: 20px 50px;
}

.letusknow{
	color: #fa991c;
}

input::placeholder, textarea::placeholder {
  color: #198199;
}

.fullname, .email {
  color: black;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.message{
  resize: none;
  overflow-y: auto;
  color: black;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.submit{
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: none;
  font-weight: bold;
  border-radius: 100px;
  background-color: #fa991c;
  transition: background-color 0.3s, box-shadow 0.3s;
  letter-spacing: 1px;
}

.submit:hover{
	background-color: white;
	color: #fa991c;
}

.media-icons2{ 
	display: flex;
	align-items: left;
	margin-top: 30px;
	margin-bottom: 0;
}

.media-icons2 a{
	color: #111;
	font-size: 25px;
	transition: 0.3s;
	transition-property: transform;
}

.media-icons2 a:not(:last-child){
	margin-right: 60px;	
}

.media-icons2 a:hover{
	transform: scale(1.5);
}



/* TABLET SCREEN */



@media (max-width: 1000px){
	
	
	/* UNIVERSAL */
	
	header .navigation{
		display:none;
	}
	
	header{
		margin-bottom: 50px;
	}
	
	label{
		display: block;
		font-size: 30px;
		cursor: pointer;
		transition: 0.3s;
		transition-property: color;
	}
	
	label i:hover{
		color: rgba(250, 153, 28, 0.7);
	}
	
	.close-btn{
		display: none;
	}
	
	#check:checked ~ header .navigation{ 
		z-index: 2;
		position: fixed;
		background: rgba(3, 37, 57, 0.9);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#check:checked ~ header .navigation a{
		font-weight: 700;
		margin-right: 0;
		margin-bottom: 50px; 
		letter-spacing: 2px;
	}
	
	#check:checked ~ header label .menu-btn{
		display: none;
	}
	
	#check:checked ~ header label .close-btn{
		z-index: 2;
		display: block;
		position: fixed;
	}
	
	label .menu-btn{
		position: absolute;
	}
	
	header .logo{
		position: absolute;
		margin-left: -30px;
	}
	
	/* HOME */
	
	.home-content{
		max-width: 650px;
		margin: 40px 60px;
	}	
	
	.imgbanner{
		display:none;
	}
	
	.imgbanner2 {
		display: block;
		width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.banner-info h2{
		font-size: 45px;
		line-height: 50px;
	}
	
	.banner-info h2 span{
		font-size: 40px;
		font-weight: 600;
	}
	
	.banner-info p{
		font-size: 14px;
	}
	
	.banner-info-btn{
		font-size: 14px;
	}
	
	.media-icons{ 
		display: flex;
		justify-content: center; 
		align-items: center;
		margin: 0;
		margin-top: 30px;
	}
	
	
	/* ABOUT US */
	
	.aboutus-content {
		flex-direction: column;
		align-items: center;
	}

	.aboutus-info {
		padding: 0;
		text-align: center;
	}
	
	/* GALLERY */
	
	.gallery-content{
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}
	
	
	/* CONTACT US */
	
	.contactus-column {
		flex: 100%; 
	}
	
}

@media (max-width: 600px){
	
	/* HOME */
	
	.home-content{
		max-width: 650px;
		margin: 20px 40px;
	}	
	
	.banner-info h2{
		font-size: 25px;
		line-height: 30px;
	}
	
	.banner-info h2 span{
		font-size: 20px;
		font-weight: 600;
	}
	
	.banner-info p{
		font-size: 12px;
	}
	
	.banner-info-btn{
		font-size: 12px;
	}
	
	/* CONTACT US */
	
	.contactus-column {
		flex: 100%; 
	}
}

